{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Личный кабинет</title>
{% endblock %}
{% block navbar %}
    <div class="row">
        <div class="col-2">
            <div class="dropdown-divider"></div>
            <a href="{% url 'profile' %}" class="profile-links disabled"><h3>Личный кабинет</h3></a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'purchase_history' %}" class="profile-links"><h3>Мои заказы</h3></a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'password_change' %}" class="profile-links"><h3>Сменить пароль</h3></a>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-10">
            <div class="container" style="padding: 15px">
                <h2 class="text-center">Личные данные</h2>
                <form method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-light">Сохранить</button>
                </form>
            </div>
        </div>

{% endblock %}