{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>История заказов</title>
{% endblock %}
{% block navbar %}
    <div class="row">
        <div class="col-2" style="display: flex; flex-direction: column">
            <div class="dropdown-divider" style="margin-top: 90px"></div>
            <a href="{% url 'profile' %}" class="profile-links"><h3>Личный кабинет</h3></a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'purchase_history' %}" class="profile-links"><h3>Мои заказы</h3></a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'password_change' %}" class="profile-links"><h3>Сменить пароль</h3></a>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-10">
            <h2 class="text-center" style="padding: 20px">История ваших заказов</h2>
            {% if orders %}
                {% for order in orders %}
                    <h5 class="card-header text-center">Дата заказа {{ order.created_at }}</h5>
                    {% for product in order.products.all %}
                        <div class="row no-gutters card"
                             style="display: flex; flex-direction: row; justify-content: center; ">
                            <div class="col-md-4">
                                <img src="{{ product.product.macbookimage_set.all.0.image.url }}"
                                     class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body b">
                                    <h5 class="card-title">{{ product.product.name }}</h5>
                                    <p class="card-text">Экран: {{ product.product.display }} <br>
                                        Процессор: {{ product.product.cpu }} <br>
                                        ОЗУ: {{ product.product.ram }} ГБ <br>
                                        SSD: {{ product.product.ssd }} <br>
                                        HDD: {{ product.product.hdd }} <br>
                                        Циклов зарядки батареи: {{ product.product.battery_life }} <br>
                                        Состояние: {{ product.product.get_condition_display }}</p>
                                    <h4 style="text-align: end">
                                        Цена: {{ product.product.price }}$</h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-6">
                            {% if order.in_order %}
                                <h3 style="padding: 30px">Состояние заказа: Выполенено </h3>
                                </div>
                                <div class="col-6">
                                    <h3 style="padding: 30px; text-align: end">
                                        Оплачено: {{ order.final_price }}$</h3>
                                </div>
                            {% else %}
                                <h3 style="padding: 30px">Состояние заказа: Обрабатывается </h3>
                                </div>
                                <div class="col-6">
                                    <h3 style="padding: 30px; text-align: end">К
                                        оплате: {{ order.final_price }}$</h3>
                                </div>
                            {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h4 class="text-center" style="padding: 25%">Заказов пока нет</h4>
            {% endif %}
    </div>
{% endblock %}