{% extends 'navbar.html' %}
{% load bootstrap4 %}
{% block header %}
    <title>Login</title>
{% endblock %}
{% block navbar %}
    <div class="container" style="margin-top:15px">
        <h4 class="text-center">Вход в аккаунт</h4>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

