{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Пароль успешно изменен</title>
    <link rel="stylesheet" href="{% static 'css/confirmed-style.css' %}">
{% endblock %}
{% block navbar %}
    <div class="border">
        <h2>Пароль успешно изменен</h2>
        <a href="/" style="font-size: x-large; color: white">
            На главную
        </a>
    </div>
{% endblock %}