{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Сменить пароль</title>
{% endblock %}
{% block navbar %}
    <div class="row">
        <div class="col-2">
            <div class="dropdown-divider" style="margin-top: 90px"></div>
            <a href="{% url 'profile' %}" class="profile-links"><h3>Личный кабинет</h3></a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'purchase_history' %}" class="profile-links"><h3>Мои заказы</h3></a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'password_change' %}" class="profile-links"><h3>Сменить пароль</h3></a>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-10">
            <div class="card-body">
                <h2 class="text-center" style="margin: 15px">Сменить пароль</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}