{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>{{ mac.name }} {{ mac.year }}</title>
{% endblock %}
{% block navbar %}
    <h1>Ноубук {{ mac.name }} {{ mac.year }}</h1>
    <div class="row" style="margin-top: 20px">
        <div class="col-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="">
                <div class="carousel-inner">
                    {% for image in mac.macbookimage_set.all %}
                        {% if image == mac.macbookimage_set.all.0 %}
                            <div class="carousel-item active">
                                <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                   data-slide="prev" style="color: black; font-size: 20px">
                    <
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                   data-slide="next" style="color: black; font-size: 20px">
                    >
                </a>
            </div>
            <div>

                <div style="display: flex; justify-content: space-between; padding: 10px">
                    <h2 style="text-align: left">Цена: {{ mac.price }}$</h2>
                    <a href="{% url 'add_to_cart' mac.id %}">
                        <button type="button" class="btn btn-secondary btn-lg">
                            Добавить в корзину
                        </button>
                    </a>
                    <a href="{% url 'simple_buy' mac.id %}">
                        <button type="button" class="btn btn-outline-secondary btn-lg">
                            Купить в один клик
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8 text-center">
            <h2 style="margin-bottom: 30px">Описание {{ mac.name }} {{ mac.year }}:</h2>
            <p class="text-center" style="margin-bottom: 30px">{{ mac.description }}</p>
            <h2>Характеристики {{ mac.name }} {{ mac.year }}:</h2>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Состояние:</td>
                    <td>{{ mac.get_condition_display }}</td>
                </tr>
                <tr>
                    <td>Циклов перезарядки батареи:</td>
                    <td>{{ mac.battery_life }}</td>
                </tr>
                <tr>
                    <td>Процессор:</td>
                    <td>{{ mac.cpu }}</td>
                </tr>
                <tr>
                    <td>Видеокарта:</td>
                    <td>{{ mac.gpu }}</td>
                </tr>
                <tr>
                    <td>Объем оперативной памяти:</td>
                    <td>{{ mac.ram }} ГБ</td>
                </tr>
                <tr>
                    <td>Диагональ экрана:</td>
                    <td>{{ mac.display }} дюймов</td>
                </tr>
                <tr>
                    <td>Операционная система:</td>
                    <td>{{ mac.os }}</td>
                </tr>
                <tr>
                    <td>Объём накопителя HDD:</td>
                    <td>{{ mac.hdd }}</td>
                </tr>
                <tr>
                    <td>Объём накопителя SSD:</td>
                    <td>{{ mac.ssd }}</td>
                </tr>
                <tr>
                    <td>Комплектация:</td>
                    <td>{{ mac.complete_set }}</td>
                </tr>
                </tbody>
            </table>
        </div>

{% endblock %}