{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/products-style.css' %}">
{% endblock %}
{% block navbar %}
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-2">
            <form action="{% url 'filter' %}" method="get" name="filter">
                <h3 class="text-center">Фильтры</h3>
                <div class="dropdown-divider"></div>
                <div class="left-side my-4">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne" style="color: black">
                                        <h5 class="sear-head editContent">Сортировать</h5>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="order_by"
                                               class="custom-control-input"
                                               value="-price">
                                        <label class="custom-control-label" for="customRadio1">По убыванию
                                            цены</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="order_by"
                                               class="custom-control-input"
                                               value="price">
                                        <label class="custom-control-label" for="customRadio2">По возрастанию
                                            цены</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="order_by"
                                               class="custom-control-input"
                                               value="-created_at">
                                        <label class="custom-control-label" for="customRadio3">По дате</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo" style="color: black">
                                        <h5 class="sear-head editContent">Процессоры</h5>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        <input type="hidden" name="path" value="{{ request.path }}>">
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="cpu"
                                                   value="Intel Core 2 Duo">
                                            <span class="span editContent">Intel Core 2 Duo</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="cpu" value="Intel Core i3">
                                            <span class="span editContent">Intel Core i3</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="cpu" value="Intel Core i5">
                                            <span class="span editContent">Intel Core i5</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="cpu" value="Intel Core i7">
                                            <span class="span editContent">Intel Core i7</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="cpu" value="Intel Core i9">
                                            <span class="span editContent">Intel Core i9</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree" style="color: black">
                                        <h5 class="sear-head editContent">Диагональ экрана</h5>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="display" value="13">
                                            <span class="span editContent">13 дюймов</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="display" value="15">
                                            <span class="span editContent">15 дюймов</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="display" value="16">
                                            <span class="span editContent">16 дюймов</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour" style="color: black">
                                        <h5 class="sear-head editContent">Объем оперативной памяти</h5>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ram" value="8">
                                            <span class="span editContent">8 ГБ </span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ram" value="16">
                                            <span class="span editContent">16 ГБ </span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ram" value="24">
                                            <span class="span editContent">24 ГБ </span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ram" value="32">
                                            <span class="span editContent">32 ГБ </span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ram" value="64">
                                            <span class="span editContent">64 ГБ </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive" style="color: black">
                                        <h5 class="sear-head editContent">Объем жесткого диска</h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="hdd" value="256 ГБ">
                                            <span class="span editContent">256 ГБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="hdd" value="512 ГБ">
                                            <span class="span editContent">512 ГБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="hdd" value="1 ТБ">
                                            <span class="span editContent">1 ТБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="hdd" value="2 ТБ">
                                            <span class="span editContent">2 ТБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="hdd" value="3 ТБ">
                                            <span class="span editContent">3 ТБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="hdd" value="4 ТБ">
                                            <span class="span editContent">4 ТБ</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseSix"
                                            aria-expanded="false" aria-controls="collapseSix" style="color: black">
                                        <h5 class="sear-head editContent">Объем SSD</h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ssd" value="256 ГБ">
                                            <span class="span editContent">256 ГБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ssd" value="512 ГБ">
                                            <span class="span editContent">512 ГБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ssd" value="1 ТБ">
                                            <span class="span editContent">1 ТБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ssd" value="2 ТБ">
                                            <span class="span editContent">2 ТБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ssd" value="3 ТБ">
                                            <span class="span editContent">3 ТБ</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="ssd" value="4 ТБ">
                                            <span class="span editContent">4 ТБ</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseSeven"
                                            aria-expanded="false" aria-controls="collapseSeven" style="color: black">
                                        <h5 class="sear-head editContent">Состояние</h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="condition" value="1">
                                            <span class="span editContent">Новый</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="condition" value="2">
                                            <span class="span editContent">Отличное</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="condition" value="3">
                                            <span class="span editContent">Хорошее</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="condition" value="4">
                                            <span class="span editContent">Нормальное</span>
                                        </li>
                                        <li class="editContent">
                                            <input type="checkbox" class="checked" name="condition" value="5">
                                            <span class="span editContent">Плохое</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseEight"
                                            aria-expanded="false" aria-controls="collapseEight" style="color: black">
                                        <h5 class="sear-head editContent">Год</h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    .
                                    <ul class="w3layouts-box-list">
                                        {% for year in years %}
                                            <li class="editContent">
                                                <input type="checkbox" class="checked" name="year"
                                                       value="{{ year }}">
                                                <span class="span editContent">{{ year }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseNine"
                                            aria-expanded="false" aria-controls="collapseNine" style="color: black">
                                        <h5 class="sear-head editContent">Теги</h5>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="w3layouts-box-list">
                                        {% for tag in tags %}
                                            <li class="editContent">
                                                <input type="checkbox" class="checked" name="tags"
                                                       value="{{ tag.id }}">
                                                <span class="span editContent">{{ tag }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" style="width: 100%">Найти</button>
            </form>
        </div>
        <div class="col-10" style="padding-top: 30px">
            <div class="row">
                {% for mac in macbooks %}
                    <div class="card" style="width: 18rem;">
                        <div id="carouselExampleControls{{ forloop.counter }}" class="carousel slide"
                             data-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in mac.macbookimage_set.all %}
                                    {% if image == mac.macbookimage_set.all.0 %}
                                        <div class="carousel-item active">
                                            <img src="{{ image.image.url }}" class="card-img-top" alt="..."
                                                 style="height: 214px; width: 214px">
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img src="{{ image.image.url }}" class="card-img-top" alt="..."
                                                 style="height: 214px; width: 214px">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls{{ forloop.counter }}"
                               role="button"
                               data-slide="prev" style="color: black; font-size: 20px">
                                <
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls{{ forloop.counter }}"
                               role="button"
                               data-slide="next" style="color: black; font-size: 20px">
                                >
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ mac.name }} {{ mac.year }}</h5>
                            <p class="card-text">Экран: {{ mac.display }} / {{ mac.cpu }} / {{ mac.ram }} ГБ /
                                SSD: {{ mac.ssd }} / HDD: {{ mac.hdd }} / Циклов зарядки
                                батареи: {{ mac.battery_life }} /
                                Состояние: {{ mac.get_condition_display }}</p>
                            <p class="card-text">
                            <h3>{{ mac.price }} $</h3>Добавлено:<br>{{ mac.created_at }} </p>
                            <a href="{% url 'product_detail' mac.id %}" class="btn btn-primary">Подробнее</a>
                            <a href="{% url 'add_to_cart' mac.id %}">
                                <svg width="2em" height="2em" style="margin-left: 50px" viewBox="0 0 16 16"
                                     class="bi bi-cart-plus"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                    <path fill-rule="evenodd"
                                          d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}