body {

}

.border {
    margin-top: 20px;
    height: 150px;
    border: 15px solid rgba(90, 255, 101, 0.79);
    background: rgba(90, 255, 101, 0.79);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}