body {

}

.header-image{
    background-image: url('../images/MacBook-Pro-on-Table-xl.jpg');
    min-height: 62vh;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
text{
    position: center;
    font-size: 150%;
    color: white;
}

.nav-link{
    display: flex;
    flex-direction: row;

    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
}

.nav-link span{
    font-size: 75%;
    height: 100%;
    margin-top: 10px;
    margin-left: -1vh;
}

A:hover {
    color: rgb(138, 138, 138) !important;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 250%;
    color: black;
    margin-top: 10px;
}

.image{
    /*background-image: url('../../../media/categories/Macbooks.jpg');*/
    font-size: x-large;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.border-off{
    border: 1px solid #ffffff;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    width: 300px;
    margin-left: -75px;
    margin-top: 1vh;
}

.profile-links {
    padding: 7px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-scroll{
    height: 320px;
    overflow-y: scroll;
}

.table-striped {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-striped td{
    width: 50%;
    display: block;
}

.table-striped tr{
    width: 100%;
    display: flex;
}

.table-striped tbody{
    width: 50%;
}

.table-striped td:nth-child(2n) {
    text-align: right;
}
