.sidebar-block__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    text-align: left;
    background: 0 0;
    border: none;
    font-size: 14px;
    color: #3e77aa;
    cursor: pointer;
}

.sidebar-block__toggle-title {
    margin-right: 16px;
}

.sidebar-block__toggle-quantity {
    margin-left: 4px;
    font-size: 14px;
    color: #a6a5a5;
}

.sidebar-block__toggle-icon {
    margin-left: auto;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: all .5s ease;
    fill: #3e77aa;
}

.scrollbar__inner {
    height: 100%;
    overflow-y: auto;
}

.filters_scroll{
    height: border-box;
    overflow-y: scroll;
}