{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Заявка подтверждена!</title>
    <link rel="stylesheet" href="{% static 'css/confirmed-style.css' %}">
{% endblock %}
{% block navbar %}
    <div class="border">
        <h2>Ваша заявка подтверждена! Ожидайте звонка оператора.</h2>
        <h3>Спасибо за ваш заказ!</h3>
    </div>
{% endblock %}