{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Оформить заказ</title>
{% endblock %}
{% block navbar %}
    <div class="row" style="margin-top: 40px">
        <div class="col-4">
            <h2 class="text-center">Ваш заказ</h2>
            <div class="dropdown-divider"></div>
            <div class="cart-scroll" style="height: 650px">
                {% for products in cart %}
                    <div class="card border-off" style="margin-bottom: -5px">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ products.product.macbookimage_set.all.0.image.url }}"
                                     class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body b">
                                    <h5 class="card-title">{{ products.product.name }}</h5>
                                    <p class="card-text">Экран: {{ products.product.display }} /
                                        {{ products.product.cpu }}/
                                        {{ products.product.ram }} ГБ /
                                        SSD: {{ products.product.ssd }} /
                                        HDD: {{ products.product.hdd }} /
                                        Циклов зарядки батареи: {{ products.product.battery_life }} /
                                        Состояние: {{ products.product.get_condition_display }}</p>
                                    <h4 style="text-align: end">Цена: {{ products.product.price }} $</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
            <h3 style="text-align: end; padding: 15px">К оплате: {{ final_price }} $</h3>
        </div>
        <div class="col-8">
            <div class="container">
                <h2 class="text-center">Личные данные</h2>
                <form method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
                    {% bootstrap_form form %}

                    <button type="submit" class="btn btn-light">Подтвердить заказ</button>
                </form>
            </div>
        </div>
{% endblock %}