{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Купить в один клик</title>
{% endblock %}
{% block navbar %}
    <div class="row" style="margin-top: 20px">
        <div class="col-6">
            <h2 class="text-center">Вами была выбраная следующая модель MacBook: </h2>
            <div class="card" style="width: 30rem;">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in mac.macbookimage_set.all %}
                            {% if image == mac.macbookimage_set.all.0 %}
                                <div class="carousel-item active">
                                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                       data-slide="prev" style="color: black; font-size: 20px">
                        <
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                       data-slide="next" style="color: black; font-size: 20px">
                        >
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ mac.name }} {{ mac.year }}</h5>
                    <p class="card-text">Экран: {{ mac.display }} / {{ mac.cpu }} / {{ mac.ram }} ГБ /
                        SSD: {{ mac.ssd }} / HDD: {{ mac.hdd }} / Циклов зарядки
                        батареи: {{ mac.battery_life }} /
                        Состояние: {{ mac.get_condition_display }}</p>
                    <p class="card-text">
                    <h3>{{ mac.price }} $</h3>Добавлено:<br>{{ mac.created_at }} </p>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <h2>Для дальнейшего оформления вашего заказа укажите ваш номер телефона</h2>
            <form method="post">{% csrf_token %}
                <table class="text-center">
                    {% bootstrap_form form %}
                    <div style="display: flex; justify-content: flex-end;">
                        <button type="submit" class="btn btn-light" style="margin: 10px;">Подтвердить заявку</button>
                    </div>
                </table>
            </form>
            <p>Наши операторы свяжутся с вами в ближайшее время</p>
        </div>
    </div>

{% endblock %}