{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Контактная информация</title>
{% endblock %}
{% block navbar %}
    <h2 class="text-center" style="margin: 50px">Контактная информация</h2>
    <h3 class="text-center" style="margin: 40px">Номера телефонов горячей линии</h3>
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">+380999999999</h4>
            <h4 class="text-center">+380888888888</h4>
            <h4 class="text-center">+380777777777</h4>
            <h4 class="text-center">+380666666666</h4>
        </div>
        <div class="col-6" style="margin-top: -10px">
            <table class="table" style="width: max-content">
                <h5>График работы:</h5>
                <tbody>
                <tr>
                    <th scope="row">Будние дни</th>
                    <td>c 08:00 до 20:00</td>
                </tr>
                <tr>
                    <th scope="row">Суббота</th>
                    <td>c 09:00 до 19:00</td>
                </tr>
                <tr>
                    <th scope="row">Воскресенье</th>
                    <td>c 10:00 до 18:00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3 class="text-center" style="margin: 40px">Номера телефонов сервисных центров</h3>
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">+380999999999</h4>
            <h4 class="text-center">+380888888888</h4>
            <h4 class="text-center">+380777777777</h4>
            <h4 class="text-center">+380666666666</h4>
        </div>
        <div class="col-6" style="margin-top: -10px">
            <table class="table" style="width: max-content">
                <thead>
                <h5>График работы:</h5>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Будние дни</th>
                    <td>c 08:00 до 20:00</td>
                </tr>
                <tr>
                    <th scope="row">Суббота</th>
                    <td>c 09:00 до 19:00</td>
                </tr>
                <tr>
                    <th scope="row">Воскресенье</th>
                    <td>c 10:00 до 18:00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3 class="text-center" style="margin: 40px">Адрес нашего офиса и шоурума</h3>
    <h5 class="text-center" style="margin: 20px">Главный офис нашей компании находится в городе Киев, ул. Научная 7</h5>
    <h5 class="text-center" style="margin: 20px">Шоурум, в котором вы можете вживую посмотреть представленный на сайте
        товар, находится по адресу г.Киев, ул.Независимости 18</h5>
    <table class="table table-striped">
        <thead>
        <h5 class="text-center">График работы шоурума:</h5>
        </thead>
        <tbody style="width: 30%">
        <tr>
            <td>Будние дни</td>
            <td>c 08:00 до 20:00</td>
        </tr>
        <tr>
            <td>Суббота</td>
            <td>c 09:00 до 19:00</td>
        </tr>
        <tr>
            <td>Воскресенье</td>
            <td>c 09:00 до 18:00</td>
        </tr>
        </tbody>
    </table>

{% endblock %}