{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Помощь</title>
{% endblock %}
{% block navbar %}
    <div class="container">
        <h2 class="text-center" style="margin: 50px">Вспомогательная информация</h2>
        <div class="row">
            <div class="col">
                <h3 class="card-header text-center" style="margin: 30px; width: 400px">Доставка</h3>
                <p style="margin: 30px; width: 400px">Информация</p>
            </div>
            <div class="col">
                <h3 class="card-header text-center" style="margin: 30px; width: 400px">Оплата</h3>
                <p style="margin: 30px; width: 400px">Информация</p>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <h3 class="card-header text-center" style="margin: 30px; width: 400px">Заказ</h3>
                <p style="margin: 30px; width: 400px">Информация</p>

            </div>
            <div class="col">
                <h3 class="card-header text-center" style="margin: 30px; width: 400px">Гарантия и возврат товара</h3>
                <p style="margin: 30px; width: 400px">Информация</p>

            </div>
        </div>
    </div>
{% endblock %}