{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>MacShop</title>
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
{% endblock %}
{% block navbar %}
    <div class="header-image">
        <text>MacShop - лучший магазин Б/У ноутбуков Mac в Украине</text>
    </div>
        <h1>Выберите свой ноутбук Mac.</h1>
        <div class="image">
        <a href="{% url 'products' 0 %}">Сравнить все модели Mac</a>
    </div>
    <div class="row cards">
        {% for category in categories %}
            <div class="card border-off text-center" style="width: 25%">
                <img src="{{ category.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ category.get_model_display }} {{ category.display }}</h5>
                    <p class="card-text" style="height: 12vh">{{ category.short_description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Дисплей Retina {{ category.display }} дюймов</li>
                    <li class="list-group-item">Процессор {{ category.max_cpu }} <br>(в максимальной конфигурации
                        компьютера)
                    </li>
                    <li class="list-group-item">Память до {{ category.max_ram }} ГБ</li>
                    <li class="list-group-item">Накопитель до {{ category.max_hdd }}</li>
                    <li class="list-group-item">Клавиатура Magic Keyboard с подсветкой</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'products' category.id %}" class="card-link">
                        <button type="button" class="btn btn-primary">Посмотреть предложения</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}