{% load bootstrap4 static %}
<html>
<head>
    {% load bootstrap4 static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
    {% block header %}
        </head>
    {% endblock %}
<body style="display: flex; justify-content: space-between; flex-direction: column; min-height: 100vh; box-sizing: border-box">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="flex: 0 0 3%; box-sizing: border-box">
    <a class="navbar-brand" href="/">MacShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-center" href="{% url 'help' %}">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-question-square"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                    &nbsp;Помощь<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-center" href="{% url 'contacts' %}">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-journal" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z"/>
                        <path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z"/>
                    </svg>
                    &nbsp;Контакты<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-center" href="{% url 'reviews' %}">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-chat-square-text"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14 1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.5a2 2 0 0 1 1.6.8L8 14.333 9.9 11.8a2 2 0 0 1 1.6-.8H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd"
                              d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    &nbsp;Отзывы<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" style="margin-right: 50px">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <svg width="20px" height="20px" viewBox="0 0 16 15" class="bi bi-basket3"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.243 1.071a.5.5 0 0 1 .686.172l3 5a.5.5 0 1 1-.858.514l-3-5a.5.5 0 0 1 .172-.686zm-4.486 0a.5.5 0 0 0-.686.172l-3 5a.5.5 0 1 0 .858.514l3-5a.5.5 0 0 0-.172-.686z"/>
                                <path d="M0 6.5A.5.5 0 0 1 .5 6h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zM.81 9c0 .035.004.07.011.105l1.201 5.604A1 1 0 0 0 3 15.5h10a1 1 0 0 0 .978-.79l1.2-5.605A.495.495 0 0 0 15.19 9h-1.011L13 14.5H3L1.821 9H.81z"/>
                            </svg>
                            <span class="badge badge-pill badge-danger">{{ cart|length }}</span>
                        </a>
                        <div class="dropdown-menu cart " aria-labelledby="navbarDropdownMenuLink">
                            {% if cart %}
                                <div class="cart-scroll">
                                    {% for products in cart %}
                                        <div class="card mb-3 border-off">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="{{ products.product.macbookimage_set.all.0.image.url }}"
                                                         class="card-img" alt="...">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body b">
                                                        <a href="{% url 'product_detail' products.product.id %}">
                                                            <h5 class="card-title">{{ products.product.name }}</h5>
                                                        </a>
                                                        <p class="card-text">Цена: {{ products.product.price }} $</p>
                                                        <form></form>
                                                        <form method="post"
                                                              action="{% url 'remove_item' %} "
                                                              style="text-align: end; margin-top: -32px">
                                                            <input type="hidden" name="id"
                                                                   value="{{ products.id }}">{% csrf_token %}
                                                            <button type="submit" class="btn btn-link">
                                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                     class="bi bi-trash" fill="currentColor"
                                                                     xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                    <path fill-rule="evenodd"
                                                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                                </svg>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="dropdown-divider"></div>
                                <h4 class="text-center">Товаров на сумму: {{ final_price }} $</h4>
                                <a href="{% url 'ordering' %}" style="margin-left: 35%">
                                    <button type="button" class="btn btn-secondary btn-lg">Заказать</button>
                                </a>
                            {% else %}
                                <h5 class="text-center">Здесь пока ничего нет</h5>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </form>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active" style="margin-right: 50px">
                        <a class="nav-link" href="{% url 'profile' %}">Личный кабинет</a>
                    </li>
                    <li class="nav-item" style="margin-right: 20px">
                        <a class="nav-link" href="{% url 'logout' %}?next=/">Выход</a>
                    </li>
                </ul>
            </form>
        {% else %}
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" style="margin-right: 50px">
                        <a class="nav-link" href="{% url 'login' %}">Войти в личный кабинет</a>
                    </li>
                    <li class="nav-item" style="margin-right: 20px">
                        <a class="nav-link"
                           href="{% url 'django_registration_register' %}">Регистрация</a>
                    </li>
                </ul>
            </form>
        {% endif %}
    </div>
</nav>
<div class="container" style="max-width: 100%; flex: 0 0 87%; box-sizing: border-box;">
    {% block navbar %} {% endblock %}
</div>
<footer style="flex: 0 0 10%; box-sizing: border-box">
    <hr align="center" width="100%" size="1" color="white"/>
    <div class="text-center">Контактная информация:</div>
    <div class="text-center">Мобильный телефон: +38014882280</div>
    <div class="text-center">Адрес: г.Киев, ул.Научная 7</div>
</footer>
</body>