{% extends 'navbar.html' %}
{% load bootstrap4 static %}

{% block header %}
    <title>Отзывы</title>
{% endblock %}
{% block navbar %}
    <h2 class="text-center" style="padding: 20px">Отзывы</h2>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <h4 class="sear-head editContent" style="padding-left: 5%">Оценка:</h4>
            <div style="display: flex; justify-content: space-between">
                <ul class="w3layouts-box-list" style="padding-top: 4px">
                    <input type="checkbox" class="checked" name="stars" value="1">
                    <span class="span editContent"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-star-fill"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                        style="margin-top: -7px">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg></span>

                    <input type="checkbox" class="checked" name="stars" value="2">
                    <span class="span editContent"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-star-fill"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                        style="margin-top: -7px">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg></span>
                    <input type="checkbox" class="checked" name="stars" value="3">
                    <span class="span editContent"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-star-fill"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                        style="margin-top: -7px">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg></span>
                    <input type="checkbox" class="checked" name="stars" value="4">
                    <span class="span editContent"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-star-fill"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                        style="margin-top: -7px">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg></span>
                    <input type="checkbox" class="checked" name="stars" value="5">
                    <span class="span editContent"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-star-fill"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                        style="margin-top: -7px">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg></span>
                </ul>
                <button type="submit" class="btn btn-primary">Опубликовать</button>
            </div>
            <h2 class="text-center" style="padding: 10px; color: red">{{ error }}</h2>
        </form>
        <div class="dropdown-divider"></div>
    {% else %}
        <h4 class="font-weight-bold" style="margin: 20px">Отзывы могут оставлять только зарегестрированные
            пользователи</h4>
    {% endif %}
    {% if reviews %}
        {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    {% if review.username.first_name %}
                        <h6 style="margin: 10px">Оставлено
                            пользователем: {{ review.username.first_name }} {{ review.username.last_name }}</h6>
                    {% else %}
                        <h6 style="margin: 10px">Оставлено
                            пользователем: {{ review.username }}</h6>
                    {% endif %}
                    <div style="display: flex; justify-content: flex-end; margin-top: -25px">
                        {% for i in '12345'|make_list %}
                            {% if forloop.counter <= review.rating_star %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" style="text-align: end">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% else %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" style="text-align: end">
                                    <path fill-rule="evenodd"
                                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="text-center" style="margin: 5px">{{ review.text }}</p>
                    <p style="margin: 5px">Этот пользователь уже приобрел товар
                        <svg width="30px" height="15px" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg" style="margin-top: -5px">
                            <path fill-rule="evenodd"
                                  d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg>
                    </p>
                    <p style="text-align: end; margin-top: -25px">{{ review.created_at }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 style="text-align: center; padding-top: 10%">Отзывов пока нет</h2>
    {% endif %}
{% endblock %}