{% extends 'navbar.html' %}
{% load bootstrap4 static %}
{% block header %}
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
{% endblock %}
{% block navbar %}
<style>
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
</style>
    <div class="container" style="margin-top:15px">
        <h4 class="text-center">Регистрация</h4>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div style="display: flex; justify-content: center">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

